.booking {
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid #eee;
  background: #fff;
  position: sticky;
  top: 90px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07);
}

.booking__top {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
}

.booking__top h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--heading-color);
}

.booking__top h3 span {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  margin-left: 5px;
}

.booking__top span {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
}

.booking__top span i {
  color: var(--secondary-color);
}

.booking__form {
  padding-top: 1.5rem;
}

.booking__form h5 {
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.booking__form input {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  color: var(--heading-color);
  font-size: 1rem;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.booking__form input:focus {
  outline: none;
  border-color: var(--secondary-color);
  box-shadow: 0 0 0 3px rgba(250, 169, 53, 0.2);
}

.booking__info-form {
  padding: 0;
  border: none;
}

.booking__info-form .form__group {
  margin-bottom: 1rem;
}

.booking__bottom {
  margin-top: 1.5rem;
}

.booking__bottom li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0 !important;
  border: none !important;
}

.booking__bottom li h5,
.booking__bottom li span {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 500;
}

.total h5,
.total span {
  color: var(--heading-color) !important;
  font-weight: 700 !important;
  font-size: 1.1rem !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #ced4da;
  color: #495057;
}

.react-datepicker__input-container input:focus {
  outline: none;
  border-color: #faa935;
}